*{
    margin: 0;
    padding: 0;
}

.nav{
    height: 70px;
    width: 100%;
    background-color: rgb(224, 76, 76);
}
.main{
    height: calc(100vh - 70px);
    width: 100vw;
    background-color: beige;
    display: flex;
}

.left{
    background-color: antiquewhite;
    width: 35%;
}

.right{
    width: 65%;
    background-color: blue;
}

.top{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav2{
    justify-content: space-between;
}

.contact{
    float: right;
}

.contact ul li{
    list-style: none;
}